.FullPage {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 695px;
    color: white;
    box-sizing: border-box;
    background-color: #363636;
    justify-content: space-between;
}

button {
    border-radius: 10px;
    height: 45px;
    width: 70px;
    border: 2px solid black;
    color: black;
}

.Profile-1 {
    background-color: #125359;
    border-radius: 10px;
    text-align: left;
    position: fixed;
    padding: 20px;
    height: 300px;
    width: 215px;
    left: 23px;
    top: 17px;
    padding-top: 0px;
}

.Profile-2 {
    background-color: #125359;
    border-radius: 10px;
    text-align: left;
    position: fixed;
    padding: 20px;
    height: 300px;
    width: 215px;
    left: 23px;
    top: 358px;
    padding-top: 0px;
}

.PlayerName {
    text-align: center;
    margin: 10px;
}

.Options {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.OptionButton {
    background-color: aqua;
    border: 1px solid black;
    padding: 0;
    height: 65px;
    width: 100px;
}

.OptionButton:disabled {
    border: none;
}

.GameBoard {
    border-radius: 10px;
    position: fixed;
    margin-top: 15px;
    padding: 20px;
    height: 625px;
    width: 1000px;
    left: 300px;
    background-color: #125359;
}

.cell-v {
    box-sizing: border-box;
    height: 95px;
    width: 120px;
    margin: 2.5px;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-h {
    box-sizing: border-box;
    height: 85px;
    width: 140px;
    margin: 2.5px;
    border-radius: 8px;
    border: 1px solid transparent;
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-v:hover {
    border-color: #646465;
}

.cell-h:hover {
    border-color: #646465;
}

.cell-v:focus,
.cell-v:focus-visible,
.cell-h:focus,
.cell-h:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.start-cell {
    height: 100px;
    width: 120px;
}

.end-cell {
    height: 120px;
    width: 120px;
}

.cell-corner-bottom-left {
    border-bottom-left-radius: 60px;
    height: 120px;
}

.cell-corner-bottom-right {
    border-bottom-right-radius: 60px;
    height: 120px;
}

.cell-corner-top-left {
    border-top-left-radius: 60px;
    height: 120px;
}

.cell-corner-top-right {
    border-top-right-radius: 60px;
    height: 120px;
}

.inner-corner {
    height: 105px;
    margin: 2.5px;
}

.col {
    display: flex;
    flex-direction: column;
    position: fixed;
}

.row {
    position: fixed;
    display: flex;
}

.col-1 {
    left: 325px;
    top: 38px;
}

.row-1 {
    left: 455px;
    top: 588px;
}

.col-2 {
    left: 1185px;
    top: 37px;
}

.row-2 {
    left: 598px;
    top: 33px;
}

.col-3 {
    left: 470px;
    top: 33px;
}

.row-3 {
    left: 600px;
    top: 482px;
}

.col-4 {
    left: 1038px;
    top: 148px;
}

.row-4 {
    left: 745px;
    top: 148px;
}

.col-5 {
    left: 618px;
    top: 148px;
}

.cell-0,
.cell-5,
.cell-10,
.cell-15,
.cell-20,
.cell-25,
.cell-30,
.cell-35 {
    background-color: rgb(255, 247, 2);
    color: black;
}

.cell-1,
.cell-6,
.cell-11,
.cell-16,
.cell-21,
.cell-26,
.cell-31,
.cell-36 {
    background-color: rgb(252, 173, 26);
    color: black;
}

.cell-2,
.cell-7,
.cell-12,
.cell-17,
.cell-22,
.cell-27,
.cell-32,
.cell-37 {
    background-color: rgb(255, 119, 0);
    color: black;
}

.cell-3,
.cell-8,
.cell-13,
.cell-18,
.cell-23,
.cell-28,
.cell-33 {
    background-color: rgb(252, 67, 0);
    color: black;
}

.cell-4,
.cell-9,
.cell-14,
.cell-19,
.cell-24,
.cell-29,
.cell-34 {
    background-color: rgb(220, 0, 0);
    color: black;
}

.img1-0,
.img1-37 {
    position: absolute;
    z-index: 3;
}

.img2-0,
.img2-37 {
    position: absolute;
    z-index: 3;
}

.img1 {
    position: absolute;
    margin-bottom: 50px;
    margin-right: 50px;
    display: none;
}

.img2 {
    position: absolute;
    margin-bottom: 50px;
    margin-right: 30px;
    display: none;
}

.Wheel-img {
    position: fixed;
    height: 200px;
    width: 200px;
    left: 790px;
    top: 260px;
}

.RotateButton {
    background-color: black;
    border-radius: 50%;
    padding: 10px;
    position: fixed;
    color: white;
    height: 70px;
    width: 70px;
    left: 855px;
    top: 325px;
}

.RotateButton:disabled {
    border-color: grey;
}

.Right-Col {
    background-color: #125359;
    position: fixed;
    border-radius: 10px;
    margin-top: 15px;
    padding: 20px;
    height: 625px;
    width: 108px;
    left: 1363px;
}

.Scale {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.scale {
    background-color: #00ffff;
    font-size: large;
    margin-top: 5px;
    color: black;
    height: 70px;
    width: 100px;
}

.scale:focus {
    margin: none;
    outline: none;
}

.ProfessionPickerButton {
    background-color: aqua;
    font-size: large;
    position: fixed;
    color: black;
    padding: 5px !important;
    height: 115px;
    width: 115px;
    left: 1380px;
    top: 545px;
}

.card2 {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    position: fixed;
    color: black;
    height: 350px;
    width: 400px;
    left: 690px;
    top: 180px;
}

.card1 {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    position: fixed;
    color: black;
    height: 225px;
    width: 250px;
    left: 765px;
    top: 250px;
}

.displayProfessionData {
    display: flex;
    justify-content: space-around;
}

.cellFill {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.buttonFill {

    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    width: 150px;
}

.buttonFill:active {

    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    width: 150px;
}